<div *ngIf="messageService.messages.length">

    <p-fieldset legend="Messages" [toggleable]="true">
        <button pButton (click)="messageService.clear()" type="button" label="Clear" 
                icon="pi pi-trash" iconPos="left" 
                class="ui-button-raised ui-button-warning"
                style="margin-bottom: 1em;"></button>

        <div *ngFor='let message of messageService.messages' style="margin-bottom: 0.4em;">
            <p-message severity="info" text="{{message}}"></p-message>   
        </div>
    </p-fieldset>

</div>