@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-dark/theme.css';
@import '~primeng/resources/primeng.css';

body .ui-fieldset {
    border: 2px solid blue;
}

.card-hero-search .ui-card-body {
    background-color: rgba(6, 110, 247, 0.2);
}

.card-hero-search .ui-card-title {
    color: rgb(11, 8, 163);
}

